#datepickerWrapper > div {
  width: 100%;
}

#datepickerWrapper .react-datepicker {
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  width: 100%;
  background-color: theme('colors.hg.secondary100');
  border: none;
}

#datepickerWrapper .react-datepicker__month-container {
  text-transform: capitalize;
  width: 100%;
  float: none;
}

#datepickerWrapper .react-datepicker__current-month {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 6px;
}

#datepickerWrapper .react-datepicker__header {
  background-color: theme('colors.hg.secondary100');
  border: none;
  width: 100%;
}

#datepickerWrapper .react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6px;
}

/* Box Month */
#datepickerWrapper .react-datepicker__month {
  margin: 0 0 0 0;
  width: 100%;
  padding: 0;
}

/* Week row */
#datepickerWrapper .react-datepicker__week {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

#datepickerWrapper .react-datepicker__navigation {
  margin-top: 18px;
}

#datepickerWrapper .react-datepicker__navigation-icon--next::before {
  border-color: #101828;
}
#datepickerWrapper .react-datepicker__navigation-icon--previous::before {
  border-color: #101828;
}

/* Today */
#datepickerWrapper .react-datepicker__day--today {
  border-radius: 50%;
  background-color: #ffffff;
}

/* Day Selected */
#datepickerWrapper .react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 50%;
  background-color: #a96fe7;
  color: #ffffff;
}
