.react-tel-input .flag-dropdown {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 12px !important;
  background-color: #ffffff !important;
  border: 0px !important;
  border-right: 1px solid #d0d5dd !important;
}

.react-tel-input {
  padding-left: 12px !important;
}

.react-tel-input .invalid-number-message {
  display: none;
}

.react-tel-input .form-control.invalid-number {
  border: none !important;
  background-color: transparent !important;
}
