@tailwind base;
@tailwind components;
@tailwind utilities;

@config "./../../tailwind.config.js";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: light only;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme('colors.hg.black');
}

a {
  color: theme('colors.hg.secondary');
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

#categorySelector::-webkit-scrollbar {
  display: none;
}

#categorySelector {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#datepickerWrapper > div {
  width: 100%;
}

#datepickerWrapper .react-datepicker {
  width: 100%;
  background-color: #a96fe7;
  border: none;
}

#datepickerWrapper .react-datepicker__month-container {
  width: 100%;
}

#datepickerWrapper .react-datepicker__current-month {
  font-size: 18px;
}

#datepickerWrapper .react-datepicker__header {
  background-color: #a96fe7;
  border: none;
  width: 100%;
}

#datepickerWrapper .react-datepicker__day-names {
  margin: 0px;
  padding: 0px;
}

/* Day Week */
#datepickerWrapper .react-datepicker__day-name {
  width: 14.285%;
  margin: 0;
}

/* Box Month */
#datepickerWrapper .react-datepicker__month {
  margin: 0 0 0 0;
  width: 100%;
  padding: 0;
}

/* All days*/
#datepickerWrapper .react-datepicker__day,
.react-datepicker__time-name {
  width: 14.285%;
  margin: 0;
}

/* Today */
#datepickerWrapper .react-datepicker__day--today {
  border-radius: 50%;
  background-color: #ffffff;
}

/* Day Selected */
#datepickerWrapper .react-datepicker__day--keyboard-selected {
  border-radius: 50%;
  background-color: #a96fe7;
  color: #ffffff;
}

#hourDate {
  width: 80px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #101828;
  padding: 8px, 18px, 8px, 16px;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  margin-right: 12px;
  cursor: pointer;
}

.selected {
  background-color: #a96fe7;
  color: white;
}
