@tailwind base;
@tailwind components;
@tailwind utilities;

@config "./../../tailwind.config.js";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: light only;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme('colors.hg.black');
}

a {
  color: theme('colors.hg.secondary');
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

#categorySelector::-webkit-scrollbar {
  display: none;
}

#categorySelector {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
